<% include _include/variables.ejs %>
<% include _include/head.ejs %>

<div class="row stream-container">
    <div id="stream_inner_left" class="col-lg-6 col-md-6 col-no-h-padding">

    </div>
    <div id="stream_inner_right" class="col-lg-6 col-md-6 col-no-h-padding">

    </div>
</div>
<!--
<nav class="pagination pagination-flex outside-padding-patch" role="pagination">
    <% if (page.prev) { %>
    <a class="newer-posts pagination-flex-left" href="<%- url_for(page.prev_link) %>">← <%= __('prev') %></a>
    <% } else { %>
    <a class="older-posts pagination-flex-right"></a>
    <% } %>
    <span class="page-number pagination-flex-center">
                        <%= __('page_n_of_n', page.current, page.total) %>
                    </span>
    <% if (page.next) { %>
    <a class="older-posts pagination-flex-right" href="<%- url_for(page.next_link) %>"><%= __('next') %> →</a>
    <% } else { %>
    <a class="older-posts pagination-flex-right"></a>
    <% } %>
</nav>
-->
<div id="__pending_post_item_container" style="display:none">
    <% if (page.prev) { %>
    <div class="card-container">
        <div class="card card-item clear-border card-top-patch">
            <a class="a-block" href="<%- url_for(page.prev_link) %>" rel="noopener noreferrer">
                <div class="card-item-container clear-flex-xs">
                    <div class="card-inner-cell" align="center">
                        <p class="clear-margin"><%= __('page_n_of_n', page.current, page.total) + ", " + __('prev') %></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <% } %>

    <% page.posts.each(function (item) { %>
    <div class="card-container">
        <div class="card card-item clear-border card-top-patch">
            <a class="a-block" href="<%= config.root + item.path %>" rel="noopener noreferrer">
                <% if(item.featured_image){ %>
                <div style="background-image: url('<%= config.root + item.path + item.featured_image %>')"
                     class="card-image card-radius clear-border clear-bottom-border-radius"></div>
                <% } %>
                <div class="card-item-container clear-flex-xs">
                    <div class="card-inner-cell"><h4 class="clear-margin"><%= item.title %></h4>
                        <p class="clear-margin post-block-desc"><%= item.intro && item.intro.length > 0 ? item.intro : truncate(strip_html(item.content), {
                                length: config.truncate_len ? config.truncate_len : theme.truncate_len ? theme.truncate_len : 140,
                                omission: '...'
                            }) %></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <% }) %>

    <% if (page.next) { %>
    <div class="card-container">
        <div class="card card-item clear-border card-top-patch">
            <a class="a-block" href="<%- url_for(page.next_link) %>" rel="noopener noreferrer">
                <div class="card-item-container clear-flex-xs">
                    <div class="card-inner-cell" align="center">
                        <p class="clear-margin"><%= __('page_n_of_n', page.current, page.total) + ", " + __('next') %>
                            →</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <% } %>
</div>


<% include _include/before_script.ejs %>

<script>
    let cachedPostsNodes;
    let leftContainer;
    let rightContainer;
    let lastColumnCount;
    let loadingIndicator;

    $(document).ready(function () {
        loadingIndicator = $("#global-loading-indicator");

        lastColumnCount = -1;
        leftContainer = $('#stream_inner_left');
        rightContainer = $('#stream_inner_right');

        function reLayoutPosts() {
            // suppress unnecessary re-layouts
            let columnCount = window.innerWidth < 768 ? 1 : 2;
            if (columnCount === lastColumnCount)return;
            loadingIndicator.show();
            lastColumnCount = columnCount;
            let leftHeight = 0;
            let rightHeight = 0;
            leftContainer.empty();
            rightContainer.empty();
            let dock = $("#__pending_post_item_container");
            cachedPostsNodes = dock.find("> .card-container");
            for (let i = 0; i < cachedPostsNodes.length; i++) {
                let post = $(cachedPostsNodes[i]).clone();
                if (columnCount === 1 || leftHeight <= rightHeight) {
                    leftContainer.append(post);
                    leftHeight += post.height();
                } else {
                    rightContainer.append(post);
                    rightHeight += post.height();
                }
            }
            loadingIndicator.fadeOut(600);
            dock.hide();
        }

        $(window).resize(function () {
            reLayoutPosts();
        });

        reLayoutPosts();
    });
</script>

<% include _include/tail.ejs %>