<% include _include/variables.ejs %>
<%
config.__isIndex = true
%>
<% include _include/head.ejs %>
<% include _include/container_head.ejs %>
<% include _include/single_column_head.ejs %>
<% include _include/side_nav.ejs %>
<% include _include/extra_nav.ejs %>

<%
function getFeaturedImage(item) {
    var featuredImage = item.featured_image;
    if (!featuredImage) return '';
    if (featuredImage.startsWith("http://") || featuredImage.startsWith("https://")) return featuredImage;
    return config.root + item.path + featuredImage;
}
%>

<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-no-background">
        <% page.posts.each(function (item) { %>
        <a href="<%= config.root + item.path %>" class="a-block">
            <div class="post-item-wrapper">
                <div class="post-item post-item-no-divider">
                    <div class="post-item-info-wrapper">
                        <div class="post-item-title">
                            <%= item.title %>
                        </div>
                        <div class="post-item-summary">
                            <%= item.intro && item.intro.length > 0 ? item.intro : truncate(strip_html(item.content), {
                                length: config.truncate_len ? config.truncate_len : theme.truncate_len ? theme.truncate_len : 140,
                                omission: '...'
                            }) %>
                        </div>
                        <div class="post-item-meta">
                            <%= date(item.date, "YYYY-MM-DD") %>
                        </div>
                    </div>
                    <% if(item.featured_image){ %>
                    <div class="post-item-image-wrapper">
                        <div class="post-item-image"
                             style="background-image: url('<%= getFeaturedImage(item) %>')"></div>
                    </div>
                    <% } %>
                </div>
            </div>
        </a>
        <% }) %>
    
        <% include _include/pagination.ejs %>
    </div>
    <% include _include/single_column_footer.ejs %>
</div>

<% include _include/container_tail.ejs %>
<% include _include/tail.ejs %>