mixin make_post(item, is_detail)
    - var rpath = item.path.substring(0, item.path.lastIndexOf("/"));
    - rpath = "#/!post/" + rpath
    if !is_detail
        .col-lg-6.col-md-6.col-sm-6.card-container
            a.a-block(href=rpath)
                if item.featured_image
                    .card(style="background-image: url('"+item.path+item.featured_image+"')")
                        .desc
                            h3= item.title
                            if item.intro
                                p= item.intro
                else
                    .card
                        .card-texture
                            - var desc = item.desc || strip_html(item.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 140);
                            p= desc
                        .desc
                            h3= item.title
                            if item.intro
                                p= item.intro

    else
        div.post-container
            p.post-abstract!= item.content

mixin make_page_links()
    if site.pages
        - site.pages.each(function (page) {
        -   var rpath = page.path.substring(0, page.path.lastIndexOf("/"));
        -   rpath = "#/!page/" + rpath;
            p
                a(href=rpath)= page.title
        - });


mixin make_pager(type)
    - var prev = "#/!"+type+"/" + page.prev_link.substring(0, page.prev_link.lastIndexOf("/"));
    - var next = "#/!"+type+"/" + page.next_link.substring(0, page.next_link.lastIndexOf("/"));
    .pagination.no-margin-bottom
        p.clearfix
            if page.prev
                span.pre.pagbuttons(style="float: left")
                    i.fa.fa-angle-double-left
                    | &nbsp;
                    a(role="navigation",href=prev)= __('prev')
            if page.next
                span.next.pagbuttons(style="float: right")
                    a(role="navigation",href=next)= __('next')
                    | &nbsp;
                    i.fa.fa-angle-double-right

mixin postList()
    .archive
        - var year = 0;
        - var change = false;
        - var firstYear = true;
        - page.posts.each(function (item) {
        - var itemYear = date(item.date, 'YYYY') - 0;
        - change = year !== itemYear;
        - year = change ? itemYear : year;
        if change
            if firstYear
                | <div class="listing-title">
                h4.ar-year!= year
                | </div><ul class="listing">
                - firstYear = false;
            else
                | </ul><div class="listing-title">
                h4.ar-year!= year
                | </div><ul class="listing">

        .listing-item
            .listing-post
                p.post-title
                    - var rpath = item.path.substring(0, item.path.lastIndexOf("/"));
                    - rpath = "#/!post/" + rpath
                    a(href= rpath, title= item.title)= item.title
                div.post-time
                    span.ar-date= date(item.date, 'MM-DD')
        - })
