[% @extends skeleton.ejs %]

[% @impl OverrideVars %]
<%
config.__title = page.title + " - " + config.title
config.__desc = page.intro || page.desc || truncate(strip_html(page.content), {
    length: config.truncate_len ? config.truncate_len : theme.truncate_len ? theme.truncate_len : 140,
    omission: '...'
})
config.__noPager = true
%>
[% @end %]

[% @impl MainBody %]
<div class="post-list-container post-list-container-shadow">
    <div class="post">
        <div class="<%= page.featured_image ? 'post-head-wrapper' : 'post-head-wrapper-text-only' %>"
             style="background-image: url('<%= page.featured_image ? (config.root + page.path + page.featured_image) : '' %>')">
            <div class="post-title">
                <%= page.title %>
                <div class="post-meta">
                    <time datetime="<%= date_xml(page.date) %>" itemprop="datePublished">
                        <%= date(page.date, "YYYY-MM-DD HH:mm") %>
                    </time>&nbsp;
                    <% if (page.categories && page.categories.length){ %>
                    <% count = page.categories.length %>
                    <i class="material-icons" style="">folder</i>
                    <% page.categories.forEach(function(category, index) { %>
                    <a href='<%= config.root + category.path %>'><%= category.name %></a><%= (count !== index + 1) ? ', ' : '' %>
                    <% }); %>
                    <% } %>

                    <% if (page.tags && page.tags.length){ %>
                    <% count = page.tags.length %>
                    <i class="material-icons" style="">label</i>
                    <% page.tags.forEach(function(tag, index) { %>
                    <a href='<%= config.root + tag.path %>'><%= tag.name %></a><%= (count !== index + 1) ? ', ' : '' %>
                    <% }); %>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="post-body-wrapper">
            <div class="post-body">
                <%- page.content %>
            </div>
        </div>

        <% include _include/post_pagination.ejs %>

        <% include _include/comment_templates.ejs %>
    </div>
</div>
[% @end %]

[% @impl CommentsInclude %]
<% if(!page.no_comments) { %>
<% include _include/comment_includes.ejs %>
<% } %>
[% @end %]
<% include _include/tail.ejs %>