<% include _include/variables.ejs %>
<%
config.__title = page.title + " - " + config.title
config.__desc = page.intro || page.desc || truncate(strip_html(page.content), {
    length: config.truncate_len ? config.truncate_len : theme.truncate_len ? theme.truncate_len : 140,
    omission: '...'
})
config.__noPager = true
%>
<% include _include/head.ejs %>
<% include _include/container_head.ejs %>
<% include _include/single_column_head.ejs %>
<% include _include/side_nav.ejs %>
<% include _include/extra_nav.ejs %>

<%
function getFeaturedImage() {
    var featuredImage = page.featured_image;
    if (!featuredImage) return '';
    if (featuredImage.startsWith("http://") || featuredImage.startsWith("https://")) return featuredImage;
    return config.root + page.path + featuredImage;
}
%>

<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <div class="post">
            <div class="<%= page.featured_image ? 'post-head-wrapper' : 'post-head-wrapper-text-only' %>"
                 style="background-image: url('<%= getFeaturedImage() %>')">
                <div class="post-title">
                    <%= page.title %>
                    <div class="post-meta">
                        <time datetime="<%= date_xml(page.date) %>" itemprop="datePublished">
                            <%= date(page.date, "YYYY-MM-DD HH:mm") %>
                        </time>&nbsp;
                        <% if (page.categories && page.categories.length){ %>
                        <% count = page.categories.length %>
                        <i class="material-icons" style="">folder</i>
                        <% page.categories.forEach(function(category, index) { %>
                        <a href='<%= config.root + category.path %>'><%= category.name %></a><%= (count !== index + 1) ? ', ' : '' %>
                        <% }); %>
                        <% } %>
    
                        <% if (page.tags && page.tags.length){ %>
                        <% count = page.tags.length %>
                        <i class="material-icons" style="">label</i>
                        <% page.tags.forEach(function(tag, index) { %>
                        <a href='<%= config.root + tag.path %>'><%= tag.name %></a><%= (count !== index + 1) ? ', ' : '' %>
                        <% }); %>
                        <% } %>
                    </div>
                </div>
            </div>
    
            <div class="post-body-wrapper">
                <div class="post-body">
                    <%- page.content %>
                </div>
            </div>
    
            <% include _include/post_pagination.ejs %>
    
            <% include _include/comment_templates.ejs %>
        </div>
    </div>
    <% include _include/single_column_footer.ejs %>
</div>

<% include _include/container_tail.ejs %>
<% if(!page.no_comments) { %>
<% include _include/comment_includes.ejs %>
<% } %>
<% include _include/tail.ejs %>
