<!DOCTYPE html>
<html lang="<%= config.language %>" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="<%= config.author %>">

    <title><%= config.__title %></title>
    <meta name="description" content="<%= config.__desc %>">

    <meta name="keywords"
          content="<%= page.keywords ? page.keywords : config.keywords ? config.keywords : "" %>">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="renderer" content="webkit">
    <link rel="short icon" href="<%- url_for('favicon/favicon.ico') %>" type="image/x-icon">
    <link rel="stylesheet" href="<%- url_for('css/bootstrap.min.css') %>">
    <link rel="stylesheet" href="<%- url_for('css/mprogress.css') %>">
    <link rel="stylesheet" href="<%- url_for('css/open-iconic.min.css') %>">
    <link rel="stylesheet" href="<%- url_for('css/style.css') %>">
    <link rel="alternate" type="application/atom+xml" title="ATOM 1.0" href="<%- url_for('atom.xml') %>">
</head>
<body>

<div id="app">
    <% include navbar.ejs %>
    <div class="container container-narrow">

        <div ref="pageHead"
             v-bind:style="{ transform: 'translateZ(0px) translateY('+.3*scrollY+'px)', opacity: 1-navOpacity }"
             class="page-head">
            <a href="<%= config.root %>">
                <h2><%= config.title %></h2>
                <h5><%= config.description %></h5>
            </a>
        </div>