<nav ref="navBar" class="navbar fixed-top navbar-light">
    <div id="global-loading-indicator" class="progress-line global-loading-indicator"></div>
    <div id="nav_background" class="nav-background"></div>
    <div style="padding-left: 15px;padding-right: 15px" class="container container-narrow nav-content">

        <button id="nav_dropdown_btn" class="nav-dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="oi" data-glyph="menu"></span>
        </button>
        <a id="nav_title" class="navbar-brand Montserrat" href="<%= config.root %>">
            <%= config.title %>
        </a>
        <div class="float-right navbar-dark nav-icon-group">
            <div class="dropdown">
                <ul class="dropdown-menu">
                    <li><a href="<%= config.root %>" class="a-block nav-icon"><%= __('Home') %></a></li>
                    <li><a href="<%= config.root + "archives" %>" class="a-block nav-icon"><%= __('Archive') %></a></li>
                    <% if(site.pages){ %>
                    <% site.pages.each(function (page){ %>
                    <li><a href="<%= config.root + page.path %>" class="a-block nav-icon"><%= page.title %></a></li>
                    <% });} %>
                    <% if(theme.rss){ %>
                    <li><a href="<%= config.root + theme.rss %>" target="_blank" class="a-block">
                            <span data-glyph="rss" class="oi nav-icon"></span>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>

        </div>
    </div>
</nav>