<% if (page.total && page.total > 1) { %>
<div class="pagination <%= config.__isIndex ? 'index-page' : '' %>">
    <% if (page.prev) { %>
    <a class="pagination-action" href="<%- url_for(page.prev_link) %>" style="opacity: <%= page.prev ? '1' : '0' %>">
        <% } else { %>
        <a class="pagination-action" style="opacity: <%= page.prev ? '1' : '0' %>">
            <% } %>
            <i class="material-icons pagination-action-icon">
                chevron_left
            </i>
        </a>

        <div class="pagination-indicator">
            <span><%= page.current %>/<%= page.total %></span>
        </div>

        <% if (page.next) { %>
        <a class="pagination-action" href="<%- url_for(page.next_link) %>"
           style="opacity: <%= page.next ? '1' : '0' %>">
            <% } else { %>
            <a class="pagination-action" style="opacity: <%= page.next ? '1' : '0' %>">
                <% } %>
                <i class="material-icons pagination-action-icon">
                    chevron_right
                </i>
            </a>
</div>
<% } %>